html, body, #root{
  background: black;
  height: 100%;
}

p, span, h5{
  font-family: 'Righteous', cursive;
}

.header{
  background: dodgerblue;
  display: flex;
  height: 150px;
  justify-content: space-evenly;
  border: solid 2px black;
  border-radius: 10px;
  padding-top: 10px;
}

.titulo{
  text-align: center;
  font-size: 75px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: 'Righteous', cursive;
}

.titulo:hover{
  transform: scale(1.3);
  transition: all 0.5s;
  color: white;
}

#drop{
  background-color: rgb(0, 0, 0);
  border: white solid 2px;
  width: 150px;
}

.iconCarrito{
  color: black;
  font-size: 40px;
  padding-top: 50px;
}

.nadvar{
  padding-top: 50px;
}



.linkNadvar{
  text-decoration: none;
}

.main{
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1 ;
  border: solid 2px black;
  background: dodgerblue;
  border-radius: 10px;
}

a, Link{
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.carts{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cart{
  display: flex;
  justify-content: center;
  background-color: white;
  border: solid 2px black;
  border-radius: 15px;
  width: 240px;
  height: 360px;
  margin: 5px 3px;
  position: relative;

}

.imgCart{
  width: 200px;
  height: 200px;
  border-radius: 15px;


}

.ordButton{
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  text-align: center;
  width: 100%;
  height: 150px;
  justify-content: space-evenly;
  border: solid 2.5px rgb(0, 0, 0);
  border-radius: 10px;
  background: black;
  color: white;

}

.detailButton{  
  background: dodgerblue;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  padding: 7px;
  border: solid white 2px;

}

.detailButton:hover{
  background: rgb(255, 255, 255);
  border: solid 2px dodgerblue;
}

.detail{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  border-radius: 15px;
  border: solid 2px rgb(0, 0, 0);
  margin-top: 25px;
}

.divImg{
  display: flex;
  justify-content: space-between;
  width: 500px;
  background: white;
  border-radius: 12px;
}

.divDesc{
  width: 600px;
  background:  dodgerblue;
  border: solid 2px rgb(0, 0, 0);
  border-radius: 12px;
}

.imgMini{
  width: 75px;
  height: 85px;
  border: black solid 2px;
  margin-bottom: 2px;
  border-radius: 12px;
}

.imgDetail{
  width: 420px;
  height: 400px;
  border-radius: 12px;

}

.divMiniatura{
  display: flex;
  flex-direction: column;
}

.textDetail{
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.desc{
  margin-top: 5px;
  text-align: center;
  padding: 0 30px;
}

.textDetail p{
  padding-top: 25px;
  font-size: 25px;

}

.btnTerm{
  display: flex;
  justify-content: center;
  padding-top: 50px;
}


.sumarRestar{
  width: 110px;
  height: 50px;
  background: black;
  color: white;
  border: white solid 2px;
  border-radius: 10px;
  padding: 10px;
  margin: 15px;
}

.conta{
  font-size: 35px;
  padding-bottom: 10px;

}



.finalizar{
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.btnFin{
  width: 150px;
  height: 50px;
  background: black;
  color: white;
  border: white solid 2px;
  border-radius: 10px;
}

.linkFin{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.linkFin a{
  text-decoration: none ;
  border: solid white 2px;
  border-radius: 10px;
  margin-bottom: 5px;
  background-color: black;
  color: white;
  padding: 1rem;
}
.carritoCart{
  height: 100%;
  background: white;
  border-radius: 15px;
}

.carritoOrd{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 15px ;
}

.imgFunkosCarrito{
  width: 150px;
  height: 150px;
  border-radius: 15px;
  border: solid black 2px;
}

.textCarrito{
  font-size: 35px;
}

.divCarrito{
  margin-top: 30px;
  text-align: center;
}

.divCarrito p{
  font-size: 20px;
  text-decoration: underline;
}

.cartW{
  display: flex;
}

.textCartW{
  margin-top: 50px;
  margin-left: 15px;
  font-size: 25px;
}

.divClear{
  display: flex;
  justify-content: end;
}

.btnClear{
  margin-left: 25px;
  background-color:dodgerblue ;
  border: none;
  padding: 10px;
  border-radius: 10px;
  color: white;
  border: solid white 2px;
  text-decoration: none;
}

.btnClear:hover{
  color: black;
}


.textClear{
  font-size: 25px;
  color: white;
  text-decoration: underline;
  padding: 0 25px;
}

.empty{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 50px;
  height: 400px;
}

.empty span{
  font-size: 60px;
  color:dodgerblue ;
}
.linkEmpty{
  font-size: 60px;
  color:dodgerblue ;
  border: solid dodgerblue 2px;
  width: 300px;
  margin-left: 350px;
  border-radius: 15px;
  background: white;
}

.linkEmpty:hover{
  color: black;
  transition: all 0.5s;
}

.ordInput{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.ordInput input{
  width: 350px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.ordInput label{
  color: white;
}

.btnFinalizar{
  border: white solid 2px;
  background: dodgerblue;
  padding: 15px;
  border-radius: 15px;
}
.cargando{
  text-align: center;
}
.cargando p{
  color: white;
  font-size: 50px;
}

.globalFooter{
  display: flex;
  justify-content: space-evenly;
  border: solid dodgerblue 2px;
  margin-top: 1rem;
  border-radius: 15px;
}


.footerLinks{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.footerLinks a{
  color: white;
  text-decoration: none ;
  margin-top: 1rem;
}

.footerLinks a:hover{
  color: dodgerblue;
  transform: scale(1.1);
}

.fooSaludo{
  font-size: 80px;
  color:dodgerblue ;
  font-family: 'Righteous', cursive;
}
.divSaludo{
  text-align: center;
  display: flex;
  flex-direction: column;
}

.fooApuu{
  font-size: 50px;
  color:dodgerblue ;
  font-family: 'Righteous', cursive;
}


.flecha{
  position: fixed;
  top: 50%;
  right: 60px;
  border: solid white 2px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  background: black;
}

.fontFlecha{
  margin-top: 15px;
  font-size: 30px;
  color: white;
}



::-webkit-scrollbar{
  width: 15px;
  border-radius: 10px;
}

::-webkit-scrollbar-track{
  box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
  border: solid white 2px;
  border-radius: 10px;
 
}

::-webkit-scrollbar-thumb{

  background: dodgerblue;
  border-radius: 10px;
  
  
}

.eliminar{
  width: 80px;
  height: 80px;
  border: black solid 2px;
  border-radius: 50%;
  margin-top: 30px;
  background: dodgerblue ;
}

.iconTrash{
  font-size: xx-large;
  color: white;
}

